<section layout-padding>
    <h3 class="md-display-1">Wordpress</h3>

    <form layout="row" ng-submit="listManager.run()" layout-wrap>
        <div flex="50" layout-padding>
            <md-content>
                <md-input-container>
                    <label>Select the Wordpress branch</label>
                    <md-select ng-disabled="running" ng-model="branch" md-on-open="getAllBranches()" style="min-width: 200px;">
                        <md-option ng-repeat="aBranch in allBranches" value="{{ aBranch.name }}"> {{ aBranch.name }} </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="branch">
                    <md-switch ng-model="options.removeDefaultThemes" aria-label="Remove default themes" ng-disabled="listManager.state !== 'ready'">Remove default themes</md-switch>
                    <md-switch ng-model="options.gitInit" aria-label="Add git init" ng-disabled="listManager.state !== 'ready'">Add git init</md-switch>
                    <md-switch ng-model="options.themeBoilerplate" aria-label="Create a theme using boilerplate" ng-disabled="listManager.state !== 'ready'">Create a theme using <a href="https://github.com/Stuff90/wp-boilerplate" target="_blank">boilerplate</a></md-switch>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-disabled="listManager.state !== 'ready'">Create</md-button>
            </md-content>
        </div>
        <div flex="50" layout-padding>
            <md-card layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <p class="md-headline">{{ config.name }}</p>
                        <p class="md-subheader">A Wordpress generated project</p>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="md-body-2">Author: <a class="md-body-1" href="{{ config.authorUrl }}" target="_blank">{{ config.name }}</a></p>
                    <p class="md-body-2">Description:</p>
                    <p class="md-body-1">{{ config.description }}</p>
                    <p class="md-body-2">Theme name: <span class="md-body-1">{{ config.themeName }} ({{ config.themeVersion }})</span></p>
                </md-card-content>
            </md-card>
        </div>
    </form>

    <step-list manager="listManager"></step>
</section>
